.screen {
    background-color: #1c1c1c;
    width: 428px;
    height: 926px;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Helvetica;
}

.display {
    display: flex;
    flex: 1;
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 80px;
    margin-right: 4%;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex: 3;
    align-self: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.buttons-row {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

}

button {
    align-self: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    border-style: none;
    font-weight: bold;
}

#dark-gray {
    background-color: #505050;
    color: white;
}

#orange {
    background-color: #ff9500;
    color: white;
}

#light-gray {
    background-color: #d4d4d2;
    color: #1c1c1c;
}

#dark-gray-zero {
    background-color: #505050;
    width: 172px;
    border-radius: 35%;
    color: white;
}